@import "sassVariables.scss";

.Item {
  display: grid;
  grid-template-columns: 2fr 50px 1fr 50px;
  column-gap: 10px;

  padding: 10px 30px;
  border-bottom: 1px solid $green;

  transition: 0.5s background-color ease;

  &.WithoutActions {
    grid-template-columns: 1fr 50px 50px;
  }

  &:hover {
    background-color: rgb(238, 238, 238);
  }

  @include media-laptop {
    padding: 10px 20px;
  }

  @include media-tablet {
    padding: 10px;
    column-gap: 5px;
  }

  @include media-mobileL {
    padding: 10px 0;
    grid-template-columns: 1fr 50px 50px 50px;
  }
}

.Title {
  display: flex;
  align-items: center;

  font-size: 22px;
  font-weight: bold;
  word-wrap: break-word;

  @include media-tablet {
    font-size: 20px;
  }
}

.EditImg {
  width: 22px;
}

.CreatedDate {
  font-size: 13px;
  color: $red;
  word-break: break-all;
}

.QuestionsCount {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.Actions {
  display: flex;
  justify-content: center;
  align-items: center;

  & > button + button {
    margin-left: 8px;
  }
}
