@import "sassVariables.scss";

.UserPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: $red;
  color: #fefefe;

  width: 100%;
  padding: 10px 70px;

  @include media-laptop {
    padding-right: 50px;
  }

  @include media-tablet {
    padding-right: 30px;
  }
}

.Crown {
  position: absolute;
  left: 15px;
  top: 50%;

  width: 35px;
  height: 35px;

  background-image: url("./crown-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;

  transform: translateY(-65%);
}
