@import "sassVariables.scss";

.UserPanel {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  background-color: $red;
  color: #fefefe;

  width: 100%;
  padding: 10px 20px;

  & > * {
    margin: 5px 0;
  }
}

.UserName {
  word-break: break-all;
}

.CrownIcon {
  display: inline-block;
  width: 35px;
  height: 35px;

  background-image: url("./crown-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.UserInfoContainer {
  display: flex;
  align-items: center;

  & > * + * {
    margin-left: 20px;
  }
}
