@import "sassVariables.scss";

.TestsListWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px 100px;

  @include media-laptop {
    padding: 10px 50px;
  }

  @include media-tablet {
    padding: 10px;
  }
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.List {
  display: flex;
  flex-direction: column;
}
