.List {
  display: flex;
  flex-wrap: wrap;

  &.centered {
    align-items: center;
    justify-content: center;
  }

  &.vertical {
    flex-direction: column;

    & > * + * {
      margin: 10px 0;
    }
  }

  & > * + * {
    margin: 10px;
  }
}
