@import "sassVariables.scss";

.QuizContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  min-width: 100vw;

  background-color: $green;
}

.Actions {
  display: flex;

  padding: 20px 35px;
  width: 85%;

  border-radius: 10px;
  background-color: #fefefe;
  & > * + * {
    margin-left: 15px;
  }
}
