@import "sassVariables.scss";

.input {
  padding: 6px 10px;
  font-size: 18px;

  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid $green;

  outline: none;

  &:focus {
    border-color: darken($color: $green, $amount: 9);
  }
}

.label {
  display: flex;
  flex-direction: column;

  width: 350px;
  margin-bottom: 10px;
  padding: 5px;

  font-size: 18px;

  @include media-laptop {
    width: 330px;
  }

  @include media-tablet {
    width: 300px;
    font-size: 17px;
  }
}
