@import "sassVariables.scss";

.AuthForm {
  @include absoluteCenter();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Error {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  color: #b11414;
}
